# -*- encoding: utf-8; mode: ini -*-

# ========================================================================
# Copyright (c) 2017 Dropbox, Inc. <https://www.dropbox.com/>.
#
# Please see the accompanying LICENSE and CREDITS file(s) for rights and
# restrictions governing use of this software. All rights not expressly
# waived or licensed are reserved. If such a file did not accompany this
# software, then please contact the author before viewing or using this
# software in any capacity.
# ========================================================================

[run]  # -----------------------------------------------------------------

omit =
    .eggs/*
    .tox/*
    *.c
    */distutils/*
    */lib_pypy/*
    */site-packages/*
    tests/*
